<section class="container-liquid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Rick and Morty Searcher</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <search-bar (typeSearchSelected)="getTypeSearch($event)"></search-bar>
    </div>
  </div>

  <ng-container *ngIf="results$ | async as results; else emptyResults">
    <div
      *ngIf="typeSearch === 'characters' && charactersToCompare.length > 1"
      class="compare__characters"
    >
      <div class="row">
        <div class="col-12">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="toggleCompareContainer()"
          >
            Compare
            <mat-icon>navigate_next</mat-icon>
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>

        <div class="col-12" *ngIf="showCompare">
          <compare-characters
            [characters]="charactersToCompare"
          ></compare-characters>
        </div>
      </div>
    </div>

    <div
      class="row results-container"
      infinite-scroll
      [infiniteScrollDistance]="4"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
    >
      <ng-container *ngFor="let result of results">
        <div class="xs-12 sm-6 md-4 lg-3">
          <card-result
            [result]="result"
            [typeSearch]="typeSearch"
          ></card-result>
        </div>
      </ng-container>
    </div>
  </ng-container>
</section>

<ng-template #emptyResults>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>
          <i class="fa fa-info-circle"></i>
        </strong>
        <span>
          To search by character, location or episode, select the type of search
          and type the name of the character in the adjacent field.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>
          <i class="fa fa-info-circle"></i>
        </strong>
        <span>
          To compare characters, select two or more characters from the list
          (maximum 3) and click on the button
          <mat-icon>navigate_next</mat-icon>
          <mat-icon>chevron_left</mat-icon>
          .
        </span>
      </div>
    </div>
  </div>
</ng-template>

<!-- Non results -->

<!-- Go to top button -->
<div class="goToTop" *ngIf="showGoToTop">
  <button mat-fab type="button" color="primary" (click)="goToTop()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
