<section class="container-liquid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Rick and Morty Searcher</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <search-bar (typeSearchSelected)="getTypeSearch($event)"></search-bar>
    </div>
  </div>

  <ng-container *ngIf="results$ | async as results; else emptyResults">
    <!-- <div
      *ngIf="typeSearch === 'characters' && charactersToCompare.length > 1"
      class="compare__characters"
    >
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <button
              mat-button
              color="primary"
              type="button"
              class="btn btn-primary pull-right"
              (click)="toggleCompareContainer()"
            >
              <mat-icon fontIcon="arrow-right"></mat-icon>
              <mat-icon fontIcon="arrow-left"></mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-12" *ngIf="showCompare">
          <compare-characters
            [characters]="charactersToCompare"
          ></compare-characters>
        </div>
      </div>
    </div> -->

    <div
      class="row results-container"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()"
    >
      <!-- {{ results | json }} -->

      <ng-container *ngFor="let result of results">
        <div class="xs-12 sm-6 md-4 lg-3">
          <card-result
            [result]="result"
            [typeSearch]="typeSearch"
          ></card-result>
        </div>
      </ng-container>
    </div>
  </ng-container>
</section>

<ng-template #emptyResults>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>
          <i class="fa fa-info-circle"></i>
        </strong>
        <span>
          Para buscar por personaje, ubicación o episodio, seleccione el tipo de
          búsqueda y escriba el nombre del mismo en el campo contiguo.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>
          <i class="fa fa-info-circle"></i>
        </strong>
        <span>
          Para comparar personajes, seleccione dos o más personajes de la lista
          (máximo 3) y haga click en el botón
          <mat-icon fontIcon="arrow-right"></mat-icon>
          <mat-icon fontIcon="arrow-left"></mat-icon>
          .
        </span>
      </div>
    </div>
  </div>
</ng-template>
