<div class="row">
  <div class="col-12 col-sm-12 col-xs-12 justify-content-center">
    <form [formGroup]="formSearch" (ngSubmit)="search(formSearch)" class="row">
      <mat-form-field class="col-4 xs">
        <mat-select
          name="typeSearch"
          formControlName="type"
          class="form-select"
          [ngClass]="{
            'is-invalid':
              !formSearch.controls['type'].valid &&
              formSearch.controls['type'].touched
          }"
          required
        >
          <mat-option value="">Type search</mat-option>
          <ng-container *ngFor="let resource of typeSearchList">
            <mat-option [value]="resource">
              {{ resource | titlecase }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-6 xs">
        <input
          matInput
          type="text"
          placeholder="Name"
          aria-label="Name"
          aria-describedby="basic-addon2"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              !formSearch.controls['name'].valid &&
              formSearch.controls['name'].touched
          }"
          required
        />
      </mat-form-field>

      <div class="col-2 xs d-flex-center">
      <button
        *ngIf="!loading"
        mat-raised-button
        color="primary"
        type="submit"
      >
      <mat-icon>search</mat-icon>
      </button>
      </div>
    </form>

    <div *ngIf="loading">
      <spinner></spinner>
    </div>
  </div>
</div>
